/* <--------- TEXT ---------> */
//Mobile text sizes
$mobile-h1: 4rem;
$mobile-h2: 3.2rem;
$mobile-title-text: 2rem;
$mobile-hero-text: 1.8rem;
$mobile-main-text: 1.6rem;

//Desktop text sizes
$desktop-h1: 7.2rem;
$desktop-h2: 5.6rem;
$desktop-title-text: 2.4rem;
$desktop-hero-text: 2.4rem;
$desktop-main-text: 2rem;
$desktop-nav-text: 1.6rem;

/* <--------- COLORS ---------> */
//Brand colors
$color-primary: #FFF;
$color-secondary: #581C87;

//Buttons color
$color-buttonBg: #FCD34D;

//Text color
$color-mainText: #0F172A;
$color-secondText: #FFF;
$color-captionText: #D97706; 
$color-buttonText: #78350F;
$color-navContact: #0369A1;